.App {
  text-align: center;
  background-color: #dedee2;
  color: #4e5a6b;
  min-height: 874px;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Passion+One&display=swap");
h1,
h2,
h3,
p,
a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: "Passion One", cursive;
}

h2,
h3,
h4,
p {
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;
  color: black;
}

.loginarea {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 50%;
}

.loginarea > p {
  font-size: 8pt;
  flex-basis: auto;
}

.loginarea > button {
  font-size: 8pt;
  flex-basis: auto;
  border-radius: 20px;
  height: 20px;
  margin-top: 7px;
  background-color: gold;
}

img {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 6px;
  border-color: gold;
  border-radius: 5px;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 0;
  margin-right: 10px;
  margin-left: 10px;
}

li {
  list-style-type: none;
}

.navlist,
.commentlist {
  list-style-type: none;
  margin-top: 0em;
  margin-bottom: 0.5em;
  font-family: "Open Sans";
  text-transform: capitalize;
  padding-left: 6px;
  padding-right: 6px;
}

.sortarea {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.sortarea > p {
  margin: 0;
  color: black;
}

.sortbox {
  padding-top: 2px;
}

.reviews {
  padding-left: 0;
  margin-right: 10px;
  margin-left: 10px;
}

.reviews > li > a > p {
  color: black;
}

.reviewcard {
  margin-right: 20px;
  margin-left: 20px;
}

.votebutton,
.deletecommentbutton,
.commentbutton {
  font-size: 8pt;
  border-radius: 20px;
  height: 30px;
  width: 100px;
  background-color: gold;
}

.commentform {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.commentinput,
.commentlabel {
  margin-top: 20px;
}

.commentbutton {
  margin-top: 20px;
  margin-bottom: 20px;
}
